

body{
    background: linear-gradient(-45deg, #06283D, #dbdbdb, #06283D );
    background-repeat: no-repeat;
}

#btnSearch{
    padding: 10px;
}

@media screen and (max-width: 767px) {
    #btnSearch{
        width: 100%;
    }
}

